# Core
python-dotenv
streamlit

# Embeddings
sentence-transformers

# LangChain ecosystem
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-unstructured
langchain-chroma
langchain-groq

# Document parsing
unstructured
unstructured[pdf]

# OCR support for scanned/handwritten PDFs
pdf2image
pytesseract

# Vector DB
chromadb
